{% extends "base.html"%}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content%}
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-3 pull-bottom">
			<div class="section-account ">
						<div class="img-backdrop" style="background-image: url('img/img16.jpg')"></div>
						<!--<div class="spacer"></div>-->
						<div class="card contain-sm style-transparent" style="max-width:450px">
							<div class="card-body">
			                    <h2 class="text-center" style="font-size: 40px; margin-bottom: 20px; color: #f70b0b">Thanks<br><span style="color: #1ab394; font-weight: 900">Welcome again</span></h2>
								<p>Your concern will be addressed immediately</p>

														
								</div>				
								</div>
						</div>
				</div>
			</div>
{% endblock %}
