{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container">
      <div class='text-center'>
      <h3 style="color: green;">Welcome to Moi Market Place</h3>
</div>
<div class='row'>
   {% for product in products %}
      
        <div class='col-sm-3' style="background-color: #dedef8;
          box-shadow: inset 1px -1px 1px #144, inset -1px 1px 1px #144;"  >
          <a href="{{ product.image.url }}"><img src="{{MEDIA_URL}}{{product.image}}" class='img-responsive' height="50%" width="100%"/></a>
          <a href="{{ product.image.url }}"><h3>{{ product.title }}</h3></a>
          <p  style="color: black;">{{ product.description|truncatewords:15}}</p>
          <p  style="color:green;"><strong>Ksh: {{product.price}}</strong></p>
          <p><a href="{{ product.image.url }}"  class="btn btn-primary pull-left" role='button'>View</a></p>
        </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
         {% if products.has_previous%}
            <a href="?page=1">&laquo;  first</a>
            <a href="?page={{ products.previous_page_number }}"> &larr; previous </a>
          {% endif %}
          <span class="current"> 
              Page {{ products.number }} of {{ products.paginator.num_pages}}.
          </span> 
          {% if products.has_next %}
           <a href="?page= {{ products.next_page_number }}">  next &rarr;  </a>
           <a href="?page= {{products.paginator.num_pages }}" > last &raquo; </a>

        {% endif %}
    </span>

    </div>
  </div >
{% endblock %}

